#image {
    font-size: 2em;
    text-align: center;
}

.time {
    font-size: 2em;
    text-align: center;
    margin-top: 5px;
}


.date {
    font-size: 2em;
    text-align: center;
}

#prayer{
    font-size: 2em;
    text-align: center;
    margin-top: 5px;
}