@font-face {
    font-family: "Butler";
    src: url(../WMAD_A08/Fonts/Butler-Font-1/Butler_Regular.otf);
}

@font-face {
    font-family: "Apercu";
    src: url(../WMAD_A08/Fonts/ApercuFontFamily/Apercu\ Regular.otf);
}

body {
    margin: 0px auto;
    background-color: #000;
    font-family: "Apercu";
}

.header {
    width: 100%;
    background-color: #000 ;
    height: 100px;
}

.abc {
    padding: 20px 20px;
}

.d-inline {
    display: inline-block;
}

.menu >li {
    display: inline-block;
    color: #fff;
    margin-left: 40px;
}

.menu-box {
    vertical-align:top;
    height: 100%;
    margin-bottom: 100px;
}

.btn {
    background-color: #ed1c24;
    border-radius: 35px;
    border: 1px solid #ed1c24;
    color: #ffffff;
    padding: 12px 13.5px 12px 13.5px;
    font-size: 14px;
}

.heading {
    background-color: rgb(15, 15, 15);
    height: 100px;
    color:white;
    text-align: center;
    font-size: 250%;
    padding-top: 25px;
    font-family: "Butler";
} 

.cover  {
    width:100%;
    margin: 0px;
}

.sub-h {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    justify-content: center;
    width: 100%;
    font-family: "Butler";
}

ol {
    list-style-type: none;
}
 div .l-scroll {
    width: 100%;
    max-block-size: 300px;
    overflow-x:scroll;
}

.product {
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0px auto;
}

.slider {
    display: inline-block;
}

div > .figure-box {
    margin-right: 0px;
    /* width: 10%;   */
}

.picture {
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.figure-tags {
    width: 100%;
    position: relative;
    height: 100%;
    color: #fff;
    text-decoration: none;
    /* padding: 14px 0px 0px 10px; */
    display: inline-block;
    text-align: center;
}

span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    text-transform: capitalize;
    color: #ffffff;
    text-align: center;
}

.container  {
    display:flex;
    width: 100%;
    margin-top: 50px;
    
}

.container1  {
    display:flex;
    width: 100%;
    flex-wrap: wrap;
}

.container3  {
    display:flex;
    width: 100%;
    justify-content: space-around;
}

.box {
    width: 50%;
    height: 400px;
    background-color: #000;
    color: #ffffff;
}

small {
    letter-spacing: 0.48em;
    color: #ed1c24;
    margin: 20px 50px 20px 50px;
}

h5 {
    font-family: "Butler";
    margin: 20px 80px 20px 50px;
    font-size: 38px;
}

.text {
    margin: 20px 60px 20px 50px;
    text-align: justify;
}

.btn1 {
    margin-top: 100px;
    margin-left: 50px;
    border-radius: 35px;
    background-color: #000;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 14px; 
    width: 174px;
    height: 50px;   
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.redcolor{
    font-size: x-large;
    color: #ed1c24;
    margin-left: 10px;
    padding: 9px 9px 7px;
}

.box > img {
    flex-shrink: 2;
    flex-basis: 0;
    justify-content: space-between;
}

.box1 {
    width: 27%;
    object-fit: cover !important;
    height: 600px;
    background-color: #000
    color(#ffffff)
}

h3 {
    color: #ffffff;
    font-size: 250%; 
    text-align: center;   
    font-family: "Butler";
}

.box2 {
    width: 50%;
    height: 600px;
    background-color: #000;
    color: #ffffff;
}

.title {
    display: flex;
    justify-content: center;
    color: #ffffff;
}

.details {
    display: flex;
    justify-content: center;
    line-height: 2.2em;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    max-height: 45px;
    color:#ffffff;
}

.price {
    display: flex;
    justify-content: center;
    color: #ffffff;
}

.box3 {
    width: 15%;
    height: 225px;
    background-color: #000;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-around;
}

.f-box {
    width: 36%;
    height: 300px;
    padding: 25px;
    background-color: #151515;
    color: #ffffff;
}

.f-box > ul {
    list-style-type: none;
    display: flex;
    gap: 20px;

}

h4{
padding-left: 40px ;
}

.f-box1 {
    width: 21%;
    height: 300px;
    background-color:#151515;
    color: #ffffff;
}

.f-box1 > ul {
    list-style-type: none;
}
