body{
    margin: 0px;
}

.container  {
    display:flex;
    width: 100%;
    background-color: orange;
    height: 100vh;
}

.box {
    width: 50%;
    height: 400px;
    background-color: ffffff;
}

