@font-face {
    font-family: "YoungSerif";
    src: url(/fonts/YoungSerif-Regular.ttf);
}

* {
    font-family: "YoungSerif";
}

.navbar {
    background-color: #00B8D4 !important;
    height: 80px;
    font-weight: 600;
}

.navbar-brand {
    color: azure;
    font-size: 30px;
}

body {
    margin: auto 0px;
}

.btn-outline-success{
    background-color: #e2e9ea;
    border-color: #e2e9ea;
}

.btn-outline-success:hover {
    background-color: #e2e9ea;
    border-color: #113439;
}

.btn-outline-success:active {
    background-color: #00B8D4 !important;
    border-color: #00B8D4 !important;
}


.swal2-actions {
    width: 90% !important;
    border-color: #00B8D4 !important;
}

.swal2-confirm {
    background-color: #00B8D4 !important;
    width: 100% !important;
}

.swal2-styled {
    border-color: #00B8D4 !important;
}

.images-list {
    justify-content: space-around;
}

.images-list-selected {
    border: 2px solid #00B8D4;
}

.images-list > img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.card-body {
    background-size: cover;
    background-position: center;
}

.editor {
    padding: 0px 2px;
}

.btn-submit {
    margin-top: 10px;
    border-radius: 5px;
}

@media only screen and (max-width: 500px) {
    .main{
        padding: 10px 4px !important;
    }
}