@font-face{ 
font-family: "Gilroy-B";
src: url(Fonts/gilroy/Gilroy-Bold.ttf);
}

body {

    font-family: "Gilroy-B";
    margin: 0px auto;
    padding: 0px;
}

/* Navigation Bar */

.navbar { 
    color: #ffffff !important;
    padding: 40px 40px 20px 30px;
}

.nav {
    padding: 0px 20px;
}

a {
    color: #000000 !important;
    font-family: Gilroy;
    font-weight: 500;
    font-size: 17.16px;
    line-height: 20.82px;
}

.noHover {
    pointer-events: none;
}

.btn {
    background-color: #75BF7A;
    color: #ffffff;
    font-family: Gilroy;
    pointer-events: visible;
}

.btnNav:hover {
    background-color: #ffffff;
    color: #75BF7A;
}

.row {
    position: relative;
}

.spaceing {

    padding: 0px;

}

.bgcolor {
    margin-top: 90px;
    background-color: #75BF7A;   
}

/* Section #01 */

.s1L{
    align-content: center;
}

.s1L > h1{
    padding: 20px;
}

.s1L > p{
    color: #9E9DA2;
    padding-right: 65px;
    padding-left: 15px;
} 

.btn-S1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Section #02 */

.b-g {
    background-color: #75BF7A;
    color: #ffffff;
    text-align:justify;
    padding: 30px;
}
.s2-C {
    padding-left: 50px;
    margin: 0px -20px 0px 0px;
}

.s2-btn {
    
 background-color: #000000;

}

.s-margin {
    margin-top: 90px;
}

.s3 {
    font-family: Gilroy;
    color: #000000;
}

 h1 >span {
    color: #75BF7A;
}

.s4-L {

    text-align: right !important;
}

.img-text {
    background: url(Images/Section4/Circle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 70px;
    width: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.s4-R {

    text-align: left !important;
}

.s4-Position-Ellipse {
    background: url(Images/Section4/Ellipse_1.png);
    background-repeat: no-repeat; 
    background-position: center;
    background-size: contain;
}

.s4-Position-Mobile {
    position: relative;
    top: -500px;
}

.s4-container {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 10px;
    color: #75BF7A;
    padding-top: 15px;
}

.s5-bg-1 {
    background: url(Images/Section5/1/Rectangle_bg.png);
    background-repeat: no-repeat;
    background-position: 80px;
    background-size: contain;
    display: inline-flex;
}

.s5-bg-2 {
    background: url(Images/Section5/2/Rectangle-bg.png);
    background-repeat: no-repeat;
    background-position: 80px;
    background-size: contain;
    display: inline-flex;
}

.s5-bg-3 {
    background: url(Images/Section5/3/Rectangle-bg.png);
    background-repeat: no-repeat;
    background-position: 80px;
    background-size: contain;
    display: inline-flex;
}



.s5-text > div {
    display: inline-flex;
    text-align: start;
    gap: 15px;
    align-items: flex-start;
}

.s5-text > div > p {
    color: #9E9DA2;
}

.footer-bg {
    background: url(Images/Section6/Rectangle-bg.png);
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
    display: inline-flex;
    align-items: center;
    justify-content: center;  */
}